body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/crossline-lines.png);
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }