body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/crossline-lines.png);
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    left:0;
  }
  #PatInfo{
    color: black;
    font-weight: bolder
  }
  #profile{
    line-height: 200%
  }

  #borderControl{
    border-width: 5px !important;
  }
  
  
  #NavLinks:hover{
    color:#267BD1!important
  }
  
 
  #NavLinks:active{
    color:red!important
  }
 